<!doctype html>
<html>
  <head>
  </head>
  <body>
    <ul>
    {%- for developers in collections.developers -%}
      <li>{{ developers.data.githubHandle }}</li>
    {%- endfor -%}
    </ul>
  </body>
</html>
