<!doctype html>
<html>
  <head>
  </head>
  <body>
    <ul>
    {%- for developers in collections.developers -%}
      <li><a href="{{ developers.url | url }}" >{{ developers.data.githubHandle }}</a></li>
    {%- endfor -%}
    </ul>
  </body>
</html>
